{% extends 'base_dashboard.html.twig' %}

{% block title %}/Catégories {{ category.title }}{% endblock %}

{% block header %}
    <header class="bg-glass">
        <div class="container">
            <div class="vh-20 d-flex flex-column flex-lg-row align-items-center justify-content-evenly">
                <h1 class="display-1">
                    Catégories {{ category.title }}
                </h1>
                <div class="btn-group">
                    <a href="{{ path('app_categories_index') }}" class="btn btn-outline-secondary-custom" title="Retour vers la liste des articles">
                        <i class="bi bi-list-ul"></i>
                    </a>
                    <a href="{{ path('app_categories_edit', {'id': category.id}) }}" class="btn btn-outline-warning" title="Modifier l'article">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    {{ include('admin/categories/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </header>
{% endblock %}


{% block body %}
    <section class="my-5 p-3 bg-glass">
        <table class="table table-sm table-striped">
            <tbody>
                <tr>
                    <th>
                        Id
                    </th>
                    <td>
                        {{ category.id }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Date de création
                    </th>
                    <td>
                        {{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Date de modification
                    </th>
                    <td>
                        {{ category.modifiedAt ? category.modifiedAt|date('Y-m-d H:i:s') : '' }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Titre
                    </th>
                    <td>
                        {{ category.title }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Slug du titre
                    </th>
                    <td>{{ category.slug }}</td>
                </tr>
                <tr>
                    <th>
                        Plus d'information
                    </th>
                    <td>{{ category.moreInfo|raw }}</td>
                </tr>
                <tr>
                    <th>
                        Photo
                    </th>
                    <td>
                        Alt: {{ category.pictureAlt }}
                        <br>
                        Nom: {{ category.pictureName }}
                        <br>
                        <img class="img-fluid" src="{{ asset(category.pictureLink) }}" alt="">
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
