<!DOCTYPE html>
<html lang="fr">
    <head>
        {# Meta tags #}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# Title tag #}
        <title>JessiZen{% block title %}Welcome!{% endblock %}</title>
        {# Link tags #}
        {% for website in website.getWebsite %}
            <link rel="icon" href="{{ asset(website.logoPictureLink) }}">
        {% endfor %}
        {# Stylesheets webpack tag #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {# Javascript webpack tag #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                font-size: 3.5rem;
                }
            }
        </style>
    </head>
    <body class="dashboard">
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            {% for website in website.getWebsite %}
                <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{{ path('app_home')}}">
                    {% if website.logoPictureLink %}
                        <img src="{{ asset(website.logoPictureLink) }}" alt="{{ website.logoPictureAlt }}"  width="30" height="30">
                    {% else %}
                        {{ website.logoText}}
                    {% endif %}
                    / {{ app.user.pseudo }}
                </a>
            {% endfor %}
            <button class="navbar-toggler d-md-none collapsed rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="btn-opened">
                    <i class="bi bi-list"></i>
                </span>
                <span class="btn-closed d-none">
                    <i class="bi bi-x-lg text-danger"></i>
                </span>
            </button>
            {# <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> #}
            <div class="navbar-nav">
                <div class="nav-item me-lg-3">
                    <a class="btn btn-outline-dark-custom rounded-pill" href="{{ path('app_logout') }}">
                        Déconnection
                    </a>
                </div>
            </div>
        </header>

        <div class="container-fluid">
            <div class="row">
                {# Nav block #}
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky pt-3">
                        <ul class="nav flex-column">
                            <li class="nav-item d-grid gap-2 col-11 mx-auto">
                                <div class="btn-group">
                                    <a class="btn btn-outline-dark-custom" href="{{ path('app_user_dashboard') }}" title="Retour sur ma page">
                                        <i class="bi bi-speedometer"></i>
                                    </a>
                                    <a class="btn btn-outline-dark-custom" href="{{ path('app_home') }}" title="Retour sur le site">
                                        <i class="bi bi-house"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Mes infos personnel</span>
                            <i class="bi bi-person-lines-fill fs-3"></i>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_user_edit', {'id':app.user.id}) }}">
                                    Modifier mes compte
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_user_downloaddata') }}">
                                    Télécharger des donnée personnel
                                </a>
                            </li>
                            <li class="nav-item">
                                {{ include('user/delet.html.twig') }}
                            </li>
                        </ul>
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Mes favories</span>
                            <i class="bi bi-heart fs-3"></i>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_article_list') }}">
                                    Liste de mes articles favories
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_category_list') }}">
                                    Liste de mes catégories favories
                                </a>
                            </li>
                        </ul>
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Mes Article</span>
                            <i class="bi bi-newspaper fs-3"></i>
                        </h6>
                        {% if is_granted('ROLE_AUTHOR') %}
                            <ul class="nav flex-column mb-2">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_articles_new') }}">
                                        Créer un article
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_articles_list') }}">
                                        {% if is_granted('ROLE_ADMIN') %}
                                            Liste de tous les articles
                                        {% else %}
                                            Liste de mes articles
                                        {% endif %}
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </nav>
                {# Main block #}
                <main class="col-md-9 ms-sm-auto col-lg-10">
                    <div class="d-flex flex-column justify-content-center">
                        {% block header %}{% endblock %}
                        {% block body %}{% endblock %}
                    </div>
                </main>
            </div>
        </div>
        
    </body>
</html>
