{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    <h1>Users index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>CreatedAt</th>
                <th>ModifiedAt</th>
                <th>Pseudo</th>
                <th>PictureProfilAlt</th>
                <th>PictureProfilLink</th>
                <th>PictureProfilName</th>
                <th>Birthday</th>
                <th>MoreInfo</th>
                <th>IsVerified</th>
                <th>WebsiteSettlementAccept</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.modifiedAt ? user.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.pictureProfilAlt }}</td>
                <td>{{ user.pictureProfilLink }}</td>
                <td>{{ user.pictureProfilName }}</td>
                <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
                <td>{{ user.moreInfo }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>{{ user.websiteSettlementAccept ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_users_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_users_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_users_new') }}">Create new</a>
{% endblock %}
