{% extends 'base.html.twig' %}

{% block title %}/Accueil{% endblock %}

{% block header %}
    {# Presentation block #}
    {% for website in website.getWebsite %}
        <header style="background: linear-gradient(90deg,rgba(244, 148, 139, 0.4), rgba(4, 101, 130, 0.8)), center / cover no-repeat url('{{ asset(website.presentationPictureLink) }}')">
            <div class="container">
                <div class="vh-100 d-flex flex-column flex-lg-row align-items-center justify-content-center">
                    {% if website.logoPictureLink %}
                        <div class="form-01 d-none d-lg-block">
                            <img class="img-square-vh-60" src="{{ asset(website.logoPictureLink) }}" alt="{{ website.logoPictureName }}">
                        </div>
                    {% endif %}
                    {{ website.presentationText|raw }}
                </div>
            </div>
        </header>
    {% endfor %}
{% endblock %}

{% block body %}
    {# Last five articles publied block #}
    <section class="py-5">
        <h3>
            Les cinq derniers articles publiés.
        </h3>
        <hr class="my-4 mx-5">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                {% for article in articles.getLastFiveArticlesPublied %}
                    <div class="col-lg-4 mb-3">
                        <a class="card bg-dark-custom text-black form-01 shadows-custom" href="#" title="Cliquer ici pour consulter l'article">
                            <img src="{{ asset(article.pictureTopLink) }}" class="img-square-vh-40" alt="{{ article.pictureTopAlt }}">
                            <div class="card-img-overlay bg-glass d-flex flex-column align-items-center justify-content-evenly">
                                <h5 class="card-title text-center">
                                    {{ article.title }}
                                </h5>
                                <p class="card-text">
                                    {{ article.content|striptags|u.truncate(200,'...')}}
                                </p>
                                <p class="card-text text-center small">
                                    <small class="ms-2" title="Date de publication">
                                        <i class="bi bi-calendar3"></i>
                                        {{ article.publicationDate|date("d/m/Y") }}
                                    </small>
                                    <small class="ms-2" title="Nombre de vu">
                                        <i class="bi bi-eye"></i>
                                        {{ article.viewNumber }}
                                    </small>
                                    <small class="ms-2" title="Note de l'article">
                                        <i class="bi bi-bar-chart-fill"></i>
                                        {{ article.note|number_format(2, '.') }}
                                    </small>
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-grid col-lg-4 mx-auto mt-5">
            <a class="btn btn-dark-custom rounded-pill" href="#">
                Consulter tous les derniers articles
            </a>
        </div>
    </section>
    {# Three Best Rated Articles Publied block #}
    <section class="py-5">
        <h3>
            Les trois articles publiés les mieux notés.
        </h3>
        <hr class="my-4 mx-5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                {% for article in articles.getThreeBestRatedArticlesPublied %}
                    <div class="col-lg-4 mb-3">
                        <a class="card bg-dark-custom text-black form-01 shadows-custom" href="#" title="Cliquer ici pour consulter l'article">
                            <img src="{{ asset(article.pictureTopLink) }}" class="img-square-vh-40" alt="{{ article.pictureTopAlt }}">
                            <div class="card-img-overlay bg-glass d-flex flex-column align-items-center justify-content-evenly">
                                <h5 class="card-title text-center">
                                    {{ article.title }}
                                </h5>
                                <p class="card-text">
                                    {{ article.content|striptags|u.truncate(200,'...')}}
                                </p>
                                <p class="card-text text-center small">
                                    <small class="ms-2" title="Date de publication">
                                        <i class="bi bi-calendar3"></i>
                                        {{ article.publicationDate|date("d/m/Y") }}
                                    </small>
                                    <small class="ms-2" title="Nombre de vu">
                                        <i class="bi bi-eye"></i>
                                        {{ article.viewNumber }}
                                    </small>
                                    <small class="ms-2" title="Note de l'article">
                                        <i class="bi bi-bar-chart-fill"></i>
                                        {{ article.note|number_format(2, '.') }}
                                    </small>
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-grid col-lg-4 mx-auto mt-5">
            <a class="btn btn-dark-custom rounded-pill" href="#">
                Consulter tous les articles les mieux notés
            </a>
        </div>
    </section>
    {# Five most viewed articles apublied block #}
    <section class="py-5">
        <h3>
            Les cinq articles publiés les plus vues.
        </h3>
        <hr class="my-4 mx-5">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                {% for article in articles.getLastFiveArticlesPublied %}
                    <div class="col-lg-4 mb-3">
                        <a class="card bg-dark-custom text-black form-01 shadows-custom" href="#" title="Cliquer ici pour consulter l'article">
                            <img src="{{ asset(article.pictureTopLink) }}" class="img-square-vh-40" alt="{{ article.pictureTopAlt }}">
                            <div class="card-img-overlay bg-glass d-flex flex-column align-items-center justify-content-evenly">
                                <h5 class="card-title text-center">
                                    {{ article.title }}
                                </h5>
                                <p class="card-text">
                                    {{ article.content|striptags|u.truncate(200,'...')}}
                                </p>
                                <p class="card-text text-center small">
                                    <small class="ms-2" title="Date de publication">
                                        <i class="bi bi-calendar3"></i>
                                        {{ article.publicationDate|date("d/m/Y") }}
                                    </small>
                                    <small class="ms-2" title="Nombre de vu">
                                        <i class="bi bi-eye"></i>
                                        {{ article.viewNumber }}
                                    </small>
                                    <small class="ms-2" title="Note de l'article">
                                        <i class="bi bi-bar-chart-fill"></i>
                                        {{ article.note|number_format(2, '.') }}
                                    </small>
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-grid col-lg-4 mx-auto mt-5">
            <a class="btn btn-dark-custom rounded-pill" href="#">
                Consulter tous les articles les plus vues
            </a>
        </div>
    </section>
{% endblock %}
